 <%for(var clientIndex in this.eventlogs) {%>
	<!-- Content frame -->
	<table cellspacing="0" cellpadding="10" border="0" width="100%" frame="box" style="margin-bottom: 50px; width: 100%"">
		<tr>
			<td align="left" width="100%">
				<!-- client info -->
				<table cellspacing="0" cellpadding="0" border="0" width="100%">
					<tr>
						<td><b><%this.eventlogs[clientIndex].clientName%></b></td>
					</tr>
					<tr>
						<td><%this.eventlogs[clientIndex].clientAddress%> <%this.eventlogs[clientIndex].clientAddressNumber%></td>
					</tr>
					<tr>
						<td><%this.eventlogs[clientIndex].clientCity%></td>
					</tr>

				</table>
			</td>
		</tr>
		<!-- report content -->
		<%for(var logIndex in this.eventlogs[clientIndex].eventlog) {%>
		<tr>
			<td align="center">
				<table cellspacing="10" cellpadding="2" border="0" width="100%" style="border-collapse: collapse; width: 100%" frame="hsides">
					<%for(var eventIndex in this.eventlogs[clientIndex].eventlog[logIndex].events) {%>
					<tr>
						<td width="25"><b><%this.eventlogs[clientIndex].eventlog[logIndex].events[eventIndex].time%></b></td>
						<td><%this.eventlogs[clientIndex].eventlog[logIndex].events[eventIndex].event%> <%this.eventlogs[clientIndex].eventlog[logIndex].events[eventIndex].amount%></td>
					</tr>
					<tr>
						<td></td>
						<td width="100%"><%this.eventlogs[clientIndex].eventlog[logIndex].events[eventIndex].location%></td>
					</tr>
					<tr>
						<td></td>
						<td width="100%"><%this.eventlogs[clientIndex].eventlog[logIndex].events[eventIndex].remarks%></td>
					</tr>
					<%}%>
				</table>
			</td>
		</tr>
			<%if(this.eventlogs[clientIndex].eventlog[logIndex].objectId) {%>
			<tr>
				<td align="center">
					<!-- GPS documentation button -->
					<table border="0" cellpadding="0" cellspacing="0" bgcolor="#505050"
						style="background-color: #505050; border: 1px solid #353535; border-radius: 5px;">
						<tr>
							<td align="center" valign="middle" style="color: #FFFFFF; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: bold; letter-spacing: -.5px; line-height: 150%; padding-top: 15px; padding-right: 30px; padding-bottom: 15px; padding-left: 30px;">
								<a href="http://guardswift.com/index.html#/public/logs/gps/<%this.eventlogs[clientIndex].eventlog[logIndex].objectId%>" target="_blank" style="color: #FFFFFF; text-decoration: none;"><%this.button_text%></a>
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<%}%>
		<%}%>
	</table>
<%}%>
