
<!-- Jumbotron Header -->
<header class="jumbotron hero-spacer col-xs-12">
	<h2>Velkommen til GuardSwift!</h2>
	<p>Du er nu klar til at oprette data i systemet</p>
</header>

<!--
<div class="well col-xs-12">
	<header><h3>Køb af hændelser med kreditkort</h3></header>
	<p>
		Siden er nu integreret med <a href="//stripe.com" target="_blank">Stripe</a>
		til håndtering af kreditkort betalinger.
	</p>
	<br> <a class="btn btn-primary btn-large" href="#{{ 'account.purchase' | routeSegmentUrl }}">Gå til konto
		oversigt</a>
</div>

<div class="well col-xs-12">
	<header><h3>Hjælp</h3></header>
	Denne side vil snart komme til at indeholde en guide til brug af siden.<br>
	Indtil da, er alle spørgsmål velkommen på min private mail: <a
		href="mailto:cyrixmorten@gmail.com?Subject=GuardSwift" target="_top">cyrixmorten@gmail.com</a><br>
	Eller mobil: 28 71 83 53
</div>
-->
