<gs-crud-panel-create title="{{'CIRCUITS_CREATE' | translate}}">
    <table class="table">
        <thead>
        <tr>
            <td class="col-xs-6 text-center">Navn</td>
            <td class="col-xs-1 text-center">Genstart</td>
            <td class="col-xs-2 text-center">Dage</td>
            <td class="col-xs-3"></td>
        </tr>
        </thead>
        <tbody>
        <tr gs-crud parse-object="parseObject"
            notify-as="{{'CIRCUIT' | translate}}" state-saving="saving">
            <td class="vert-align"><input
                    placeholder="{{'NAME' | translate}}" class="form-control"
                    type="text" ng-model="createData.name" ng-disabled="saving"
                    auto-focus focus-on="addSuccess"/></td>


            <td>
                <timepicker ng-model="createData.timeResetDate"
                            hour-step="1" minute-step="60" show-meridian="false"
                            ng-disabled="saving"></timepicker>
            </td>

            <td class="vert-align"><select class="multiselect"
                                           ng-model="createData.days"
                                           ng-options="item.id as item.name for item in days"
                                           multiple="multiple" multiselect-dropdown-input-days>
            </select></td>
            <td class="vert-align" data-title="''">
                <gs-crud-create
                        data="createData" success="notifyDataSetChanged()"/>
            </td>
        </tr>
        </tbody>
    </table>
</gs-crud-panel-create>
<gs-crud-panel-update-remove title="{{'CIRCUITS_LIST' | translate}}">
    <table ng-table="tableParams" show-filter="true" class="table">
        <tr ng-repeat="crudObject in $data" gs-crud parse-object="parseObject"
            notify-as="{{'CIRCUIT' | translate}}" editing="editMode">

            <td data-title="'Navn'" class="vert-align col-xs-6"
                header-class="'text-center'" sortable="'name'"
                filter="{ 'name': 'text' }"><input ng-readonly="!editMode"
                                                   class="form-control" type="text" ng-model="crudObject.name"/></td>


            <td data-title="'Genstart'" class="col-xs-1"
                header-class="'text-center'">
                <div ng-if="!editMode">
                    <input ng-readonly="true" class="form-control" type="text"
                           value="{{crudObject.timeResetDate | date:'shortTime'}}"/>
                </div>
                <div ng-if="editMode">
                    <timepicker readonly-input="true"
                                ng-model="crudObject.timeResetDate" hour-step="1" minute-step="60"
                                show-meridian="false"></timepicker>
                </div>

            </td>

            <td data-title="'Dage'" class="vert-align col-xs-2"
                header-class="'text-center'">


                <select class="multiselect"
                        ng-model="crudObject.days"
                        ng-options="item.id as item.name for item in days"
                        multiple="multiple" multiselect-dropdown-input-days ng-disabled="!editMode">
                </select>

            </td>

            <td class="vert-align" ng-class="{'col-xs-3' : editMode, 'col-xs-2': !editMode}" data-title="''"
                header-class="">
                <gs-crud-update-delete
                        scoped-object="crudObject" success="notifyDataSetChanged()"/>
            </td>
            <td class="vert-align col-xs-1" header-class="''" data-title="''" ng-if="!editMode">
                <gs-link-button type="warning" size="sm"
                                link="{{ 'circuitunits' | routeSegmentUrl : {circuitId : crudObject.id} }}"
                                fa-left="shield" fa-right="angle-right"
                                button-text="{{'SUPERVISION' | translate}}"/>
            </td>
        </tr>
    </table>
</gs-crud-panel-update-remove>