<gs-crud-panel-create title="{{'CIRCUITUNITS_CREATE' | translate}}">
    <table class="table">

        <thead>
        <tr>
            <td class="col-xs-2 text-center">Type</td>
            <td class="col-xs-3 text-center">Kunde</td>
            <td class="col-xs-1 text-center">Start</td>
            <td class="col-xs-1 text-center">Slut</td>
            <td class="col-xs-1 text-center">Dage</td>
            <td class="col-xs-1 text-center">Tilsyn</td>
            <td class="col-xs-1 text-center">Kørende</td>
            <td class="col-xs-2"></td>
        </tr>
        </thead>
        <tbody>
        <tr gs-crud parse-object="parseObject"
            notify-as="{{'CIRCUITUNIT' | translate}}" state-saving="saving">
            <td class="vert-align"><input
                    placeholder="{{'TYPE' | translate}}" class="form-control"
                    type="text" ng-model="createData.name" ng-disabled="saving"
                    auto-focus focus-on="addSuccess"/></td>
            <td class="vert-align">
                <gs-client-select
                        ng-model="createData.client"
                        ng-change="setData(createData, 'clientName', createData.client['name'])"/>
            </td>

            <td>
                <timepicker ng-model="createData.timeStartDate"
                            ng-disabled="saving" hour-step="1" minute-step="15"
                            show-meridian="false"></timepicker>
            </td>
            <td>
                <timepicker ng-model="createData.timeEndDate"
                            ng-disabled="saving" hour-step="1" minute-step="15"
                            show-meridian="false"></timepicker>
            </td>

            <td class="vert-align"><select class="multiselect"
                                           ng-model="createData.days" ng-disabled="saving"
                                           ng-options="item.id as item.name for item in days"
                                           multiple="multiple" multiselect-dropdown-input-days>
            </select></td>

            <td class="vert-align"><input  class="form-control"
                                           type="number" ng-model="createData.supervisions" ng-disabled="saving"
            /></td>

            <td class="vert-align text-center"><input bs-switch
                                                      type="checkbox"
                                                      ng-model="createData.isRaid"
                                                      ng-disabled="saving"
                                                      ng-change="setData(createData, 'taskType', createData.isRaid ? 'Raid': 'Regular')"
                                                      switch-inverse="true"
                                                      switch-on-text="{{'YES' | translate}}"
                                                      switch-off-text="{{'NO' | translate}}"></td>



            <td class="vert-align" data-title="''">
                <gs-crud-create
                        data="createData" success="notifyDataSetChanged()"/>
            </td>
        </tr>
        </tbody>
    </table>
</gs-crud-panel-create>
<gs-crud-panel-update-remove title="{{'CIRCUITUNITS_LIST' | translate}}">

    <div ng-repeat="crudObject in results | orderBy : 'clientName'" gs-crud parse-object="parseObject"
        notify-as="{{'CIRCUITUNIT' | translate}}" editing="editMode" style="">

            <div class="input-row" style="display: flex; flex-direction: row;">
                <div style="flex-basis: 100px;align-self: center;text-align: right;color: grey;">Kunde:</div>
                <div style="flex-basis: 400px;">
                    <input ng-readonly="true" class="form-control" type="text" value="{{ crudObject.clientId ? crudObject.clientId + '&nbsp;' + crudObject.clientName: crudObject.clientName }}"/>
                </div>
            </div>
            <div class="input-row" style="display: flex; flex-direction: row;">
                <div style="flex-basis: 100px;align-self: center;text-align: right;color: grey;">Type:</div>
                <div style="flex-basis: 155px;">
                    <input ng-readonly="!editMode" class="form-control" type="text" ng-model="crudObject.name" placeholder="Kort beskrivelse"/>
                </div>

                <div style="flex-basis: 100px;">
                    <input bs-switch type="checkbox"
                        switch-active="{{editMode}}"
                        ng-model="crudObject.isRaid"
                        ng-change="setData(crudObject, 'taskType', crudObject.isRaid ? 'Raid': 'Regular')"
                        switch-inverse="true"
                        switch-on-text="Kørende"
                        switch-off-text="Gående"/>
                </div>
            </div>
            <div class="input-row" style="display: flex; flex-direction: row;">

                <div style="flex-basis: 100px;align-self: center;text-align: right;color: grey;">Tid:</div>

                <div style="flex: 0">
                    <fieldset ng-disabled="!editMode">
                        <timepicker ng-model="crudObject.timeStartDate"
                                    show-meridian="false" show-spinners="false"></timepicker>
                    </fieldset>
                </div>

                <div style="align-self: center;">&nbsp;-&nbsp;</div>

                <div style="flex: 0">
                    <fieldset ng-disabled="!editMode">
                        <timepicker ng-model="crudObject.timeEndDate" hour-step="1"
                                    minute-step="15" show-meridian="false" show-spinners="false"></timepicker>
                    </fieldset>
                </div>


                <div>
                    <select class="multiselect"
                            ng-model="crudObject.days"
                            ng-options="item.id as item.name for item in days"
                            multiple="multiple" multiselect-dropdown-input-days
                            ng-disabled="!editMode">
                    </select>
                </div>
            </div>
            <div class="input-row" style="display: flex; flex-direction: row;">

                <div style="flex-basis: 100px;align-self: center;text-align: right;color: grey;">Antal:</div>

                <div style="flex-basis: 55px">
                    <input ng-readonly="!editMode"
                        class="form-control" type="number"
                        ng-model="crudObject.supervisions"/>
                </div>

                <!-- <div style="align-self: center;">Tilsyn</div> -->

                <div style="flex-basis: 100px;">
                    <input bs-switch type="checkbox"
                        switch-active="{{editMode}}"
                        ng-model="crudObject.isWeekly"
                        ng-change="setData(crudObject, 'isWeekly', crudObject.isWeekly)"
                        switch-inverse="true"
                        switch-on-text="Ugentligt"
                        switch-off-text="Dagligt"/>
                </div>

                <div ng-if="crudObject.isWeekly" style="align-self: center;">Nulstilles hver mandag</div>

                <div style="flex: 1"></div>
                <div style="flex: 0">
                    <button class="btn btn-sm" ng-disabled="!editMode" ng-class="crudObject.isPaused ? 'btn-warning' : 'btn-success'" 
                        ng-click="setData(crudObject, 'isPaused', crudObject.isPaused ? false : true)">
                        {{crudObject.isPaused ? 'Pause' : 'Aktiv'}}
                        <fa name="{{crudObject.isPaused ? 'pause' : 'play'}}-circle" />
                    </button>
                </div>
                
                <gs-crud-update-delete style="flex-basis: 175px"
                        scoped-object="crudObject" success="notifyDataSetChanged()"/>
            </div>

            <hr />
    </div>
</gs-crud-panel-update-remove>

