<div class="panel panel-default">
	<div class="panel-body">
		<div>
			<wysiwyg textarea-id="question" textarea-class="form-control"
				textarea-height="300px" textarea-name="textareaQuestion"
				textarea-required ng-model="scopedCircuitUnit.description"
				enable-bootstrap-title="true"
				textarea-menu="{{richText.customMenu}}"> </wysiwyg>
		</div>
		<br>
		<div class="form-group col-xs-12 pull-right">
			<button type="submit" class="btn btn-primary col-xs-3 pull-right"
				ng-click="save(crudObjects[0])">{{'SAVE_CHANGES' |
				translate}}</button>
			<div class="col-xs-1" ng-show="performingUpdate" loader-circle-small></div>
		</div>
	</div>
</div>