<div>
	<div class="alert alert-info" role="alert">Beskeder omkring dette tilsyn. Vægterne kan kvittere for at have læst dem i app'en.</div>
	
	<panel-loader></panel-loader>
	<form name="crudForm" novalidate>
		<table class="table">
			<tr>
				<td class="col-xs-8"><input placeholder="Besked"
					class="form-control" type="text" ng-model="createData.message" /></td>
				<!-- <td class="col-xs-4"><input placeholder="Skrevet af"
					class="form-control" type="text" ng-model="createData.author" /></td> -->

				<td class="col-xs-*"><button type="submit"
						class="btn btn-success vert-align" ng-click="add()">{{'CREATE'
						| translate}}</button></td>
			</tr>
		</table>
	</form>
	<form name="crudForm" novalidate ng-show="crudObjects.length > 0">
		<table ng-table="tableParams" show-filter="true" class="table">
			<tbody>
				<tr ng-repeat="crudObject in $data">
					<td data-title="'Besked'"
						header-class="'col-xs-5 text-center'" sortable="'message'"
						filter="{ 'message': 'text' }"><input
						ng-readonly="!crudObject.$edit" class="form-control" type="text"
						ng-model="crudObject.message" /></td>
					<td data-title="'Skrevet af'"
						header-class="'col-xs-3 text-center'" sortable="'author'"
						filter="{ 'author': 'text' }"><input
						ng-readonly="!crudObject.$edit" class="form-control" type="text"
						ng-model="crudObject.author" /></td>
					<td data-title="'Oprettet'"
						header-class="'col-xs-2 text-center'"><input ng-readonly="true"
						class="form-control" type="text" value="{{crudObject.updatedAt
						| date:'HH:mm dd-MM-yyyy'}}" /></td>
					<td class="col-xs-2" data-title="''"><crud-edit-delete /></td>
				</tr>
		</table>
	</form>
</div>
