
<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">{{scopedCircuitUnit.name}} - {{scopedCircuitUnit.client.get('name')}}</h3>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-xs-12">
				<ul class="nav nav-tabs">
					<li role="presentation"
						ng-class="{active: $routeSegment.contains('description')}"><a
						href="#{{ 'details.circuitunit.crud.description' | routeSegmentUrl: {id: $routeSegment.$routeParams.id} }}">Beskrivelse</a></li>
					<!-- <li role="presentation"
						ng-class="{active: $routeSegment.contains('messages')}"><a
						href="#{{ 'details.circuitunit.crud.messages' | routeSegmentUrl: {id: $routeSegment.$routeParams.id} }}">Beskeder</a></li> -->
				</ul>
			</div>
		</div>
		<div class="container">
			<br>
			<div class="row anim" app-view-segment="1"></div>
		</div>
	</div>

</div>
