
<div class="panel panel-primary anim">
	<div class="panel-heading clearfix">
		<h3 class="panel-title pull-left">Rapporter</h3>
		<!-- <div class="btn-group pull-right">
				<crud-search search-from-date="searchFromDate"
					search-to-date="searchToDate" search="search()">
				</search-by-date-table>
			</div>-->
	</div>
	<div class="panel-body">
		<search-bar></search-bar>

		<table ng-table="tableParams" show-filter="false"
			class="table table-hover table-condensed table-striped table-responsive"
			export-csv="csv">
			<tr ng-repeat="crudObject in $data">
				<td data-title="'Type'" header-class="'col-xs-2 text-center'"
					sortable="'type'" filter="{ 'type': 'text' }">{{crudObject.type}}</td>
				<td data-title="'Kunde'" header-class="'col-xs-8 text-center'"
					sortable="'name'" filter="{ 'name': 'text' }">{{crudObject.clientName}}</td>
				<td data-title="'Oprettet'" header-class="'col-xs-1 text-center'">{{crudObject.createdAt
					| date:'dd-MM-yyyy'}}</td>
				<td data-title="''" header-class="'col-xs-1'"><a
					class="btn btn-danger btn-sm pull-right"
					href="#{{ 'report.circuitunit' | routeSegmentUrl : {id : crudObject.objectId} }}">{{
						'REPORT' | translate}} </a></td>
			</tr>
		</table>
	</div>
</div>
