<div>
	<!-- 	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">{{'EVENT_TYPE_CREATE' | translate}}</h3>
		</div>
		<div class="panel-body"> -->
	<div class="alert alert-info" role="alert">Beskeder omkring denne
		kunde. Vægterne kan kvittere for at have læst dem i app'en.</div>
	<form name="crudForm" novalidate>
		<table class="table">
			<thead>
				<tr>
					<td class="col-xs-10 text-center">{{'MESSAGE' | translate}}</td>
					<td class="col-xs-2"></td>
				</tr>
			</thead>
			<tbody>
				<tr gs-crud parse-object="parseObject"
					notify-as="{{'MESSAGE' | translate}}" state-saving="saving">
					<td><input placeholder="{{'MESSAGE' | translate}}"
						class="form-control" type="text" ng-model="createData.message"
						ng-disabled="saving" auto-focus focus-on="addSuccess" /></td>
					<!-- <td class="col-xs-4"><input placeholder="Skrevet af"
					class="form-control" type="text" ng-model="createData.author" /></td> -->

					<td data-title="''"><gs-crud-add data="createData"
							success="notifyDataSetChanged()" /></td>
				</tr>
			</tbody>
		</table>
	</form>
	<table ng-table="tableParams" show-filter="true" class="table"
		ng-show="$data.length">
		<tbody>
			<tr ng-repeat="crudObject in $data" gs-crud
				parse-object="parseObject" notify-as="{{'MESSAGE' | translate}}"
				editing="editMode">
				<td data-title="'Besked'" class="col-xs-5"
					header-class="'text-center'" sortable="'message'"
					filter="{ 'message': 'text' }"><input ng-readonly="!editMode"
					class="form-control" type="text" ng-model="crudObject.message" /></td>
				<td data-title="'Skrevet af'" class="col-xs-3"
					header-class="'text-center'" sortable="'author'"
					filter="{ 'author': 'text' }"><input ng-readonly="!editMode"
					class="form-control" type="text" ng-model="crudObject.author" /></td>
				<td data-title="'Oprettet'" class="col-xs-2"
					header-class="'text-center'"><input ng-readonly="true"
					class="form-control" type="text"
					value="{{crudObject.updatedAt
						| date:'HH:mm dd-MM-yyyy'}}" /></td>
				<td class="col-xs-2" data-title="''" header-class="''"><gs-crud-update-delete
						scoped-object="crudObject" success="notifyDataSetChanged()" /></td>
			</tr>
	</table>
</div>
