<div class="form-group" ng-show="visible">
	<div class="btn-toolbar" role="toolbar">
		<p class="input-group">
			<select class="multiselect" ng-model="daysBack"
				ng-options="option.value as option.text for option in daysBackOptions"
				singleselect-dropdown>
			</select>
		</p>
		<!-- <div class="btn-group" role="group">
			<input class="form-control" placeholder="dd-MM-yyy"
				ng-model="searchToDate" type="datetime-local" />
		</div> -->
		<!-- <div class="btn-group" role="group"> -->

		<!-- <div class="input-group">Eller søg i perioden:</div> -->
		<div class="col-xs-6">
			<p class="input-group">
				<input type="text" class="form-control" show-button-bar="false"
					placeholder="{{'FROM_DATE' | translate}}" datepicker-popup="{{format}}"
					ng-model="dt_datefrom" is-open="opened_datefrom"
					datepicker-options="dateOptions" ng-required="true" /> 
				<span
					class="input-group-btn">
					<button type="button" class="btn btn-default"
						ng-click="open_datefrom($event)">
						<i class="glyphicon glyphicon-calendar"></i>
					</button>
				</span> 
				<input type="text" class="form-control" show-button-bar="false"
					placeholder="{{'TO_DATE' | translate}}" datepicker-popup="{{format}}"
					ng-model="dt_dateto" is-open="opened_dateto"
					datepicker-options="dateOptions" ng-required="true" /> 
				<span class="input-group-btn">
					<button type="button" class="btn btn-default"
						ng-click="open_dateto($event)">
						<i class="glyphicon glyphicon-calendar"></i>
					</button>
				</span>
				<span class="input-group-btn">
					<button class="btn btn-default" ng-mousedown="search(dt_datefrom, dt_dateto)"
						type="submit">
						<i class="glyphicon glyphicon-search"></i>
					</button>
				</span>
			</p>
		</div>
		<!-- <div class="col-xs-3">
			<p class="input-group">
				<input type="text" class="form-control" show-button-bar="false"
					placeholder="Til dato" datepicker-popup="{{format}}"
					ng-model="dt_dateto" is-open="opened_dateto"
					datepicker-options="dateOptions" ng-required="true" /> <span
					class="input-group-btn">
					<button type="button" class="btn btn-default"
						ng-click="open_dateto($event)">
						<i class="glyphicon glyphicon-calendar"></i>
					</button>
				</span>
			</p>
		</div> -->

		<!-- </div> -->
		<div class="pull-right" ng-show="searching">
			<loader-circle-small />
		</div>
		<div class="pull-right" ng-hide="searching"
			ng-if="resultCount > 0">Fandt
			{{resultCount}} resultater</div>
		<div class="pull-right" ng-hide="searching"
			ng-if="resultCount == 0">{{FOUND_NO_RESULTS | translate}}</div>
	</div>

</div>