
<div class="panel panel-default">
	<div class="panel-body" cg-busy="detailsPromise">
		<search-bar></search-bar>
		<table ng-table="tableParams" show-filter="true"
			class="table table-hover table-condensed table-striped table-responsive"
			export-csv="csv">

			<tbody ng-repeat="group in $groups">
				<tr class="ng-table-group">
					<td colspan="{{$columns.length}}"><a href=""
						ng-click="group.$hideRows = !group.$hideRows"> <span
							class="glyphicon"
							ng-class="{ 'glyphicon-chevron-right': group.$hideRows, 'glyphicon-chevron-down': !group.$hideRows }"></span>
							<strong>{{ group.value }} {{ group.data.length }} </strong>
					</a></td>
				</tr>
				<tr ng-hide="group.$hideRows" ng-repeat="crudObject in group.data"
					ng-click="showDetails(crudObject.objectId)"
					ng-class="(crudObject.isExtra) ? 'success' : ''"
					>
					<td  data-title="'Hændelse'"
						header-class="'col-xs-1 text-center'" sortable="'event'"
						filter="{ 'event': 'text' }">{{crudObject.event}}</td>
					<td  data-title="'Antal'"
						header-class="'col-xs-1 text-center'" sortable="'amount'"
						filter="{ 'amount': 'text' }">{{crudObject.amount}}</td>
					<!-- 		<td class="col-xs-2" data-title="'Kunde'" header-class="'text-center'"
					sortable="'clientName'" filter="{ 'clientName': 'text' }">{{crudObject.clientName}}</td> -->
					<td  data-title="'Placering'"
						header-class="'col-xs-2 text-center'" sortable="'clientLocation'"
						filter="{ 'clientLocation': 'text' }">{{crudObject.clientLocation}}</td>
					<td  data-title="'Bemærkninger'"
						header-class="'col-xs-2 text-center'" sortable="'remarks'"
						filter="{ 'remarks': 'text' }">{{crudObject.remarks}}</td>
					<td  data-title="'Vægter'"
						header-class="'col-xs-2 text-center'" sortable="'guardName'"
						filter="{ 'guardName': 'text' }">{{crudObject.guardName}}</td>
					<td  data-title="'Oprettet'"
						header-class="'col-xs-2 text-center'">{{crudObject.createdAt |
						date:'HH:mm dd-MM-yyyy'}}</td>
					<!-- <td class="col-xs-1 text-right"><a class="btn btn-primary"
					href="#{{ 'details.eventlog' | routeSegmentUrl: {id: crudObject.objectId} }}">{{
						'DETAILS' | translate}}</a></td> -->
					<!--<td class="col-xs-1 text-right"><button class="btn btn-primary btn-sm"
				 ng-click="showDetails(crudObject.objectId)">{{
					'DETAILS' | translate}}</button></td> -->
				</tr>
			</tbody>
		</table>
	</div>
</div>

