
<div>
	<div class="panel panel-default anim">
		<div class="panel-heading clearfix">
			<div class="dropdown pull-left">
				<button class="btn btn-default dropdown-toggle" type="button"
					id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
					{{translations.selectionEmpty}} <span class="caret"></span>
				</button>
				<ul class="dropdown-menu">

					<li ng-repeat="object in scopedParentObjects | orderBy:'name'"
						ng-class="{active: $routeSegment.$routeParams.id==object.objectId}"><a
						href="{{childUrl}}{{object.objectId}}">{{object.name}}</a></li>
				</ul>
			</div>
			<div class="btn-group pull-right">
				<a class="btn btn-success" href="{{parentUrl}}">{{translations.parentCreate}}</a>
			</div>

		</div>
	</div>
	<div app-view-segment="2" class="anim" autoscroll="false">{{translations.contentEmpty}}</div>
</div>

